<div id="view_swtich_bar">
  <ul>
    <li>
      <%= image_tag("thumnail.png") %>
    </li>
    <li>
      <%= image_tag("title_small.png") %>
    </li>
    <li>
      <%= image_tag("normal_down.png") %>
    </li>
  </ul>
</div>

<div class="filter_container clearboth">
  <%= render 'partials/geo_filter' %>
</div>

<div class="row">
  <% if !@posts.nil? %>
      <% @posts.each do |post| %>
          <div class="post_spliter">
            <br />
            <div class="post">
                <span class="post_price">
                      <%= price post.price.to_i %>
                    </span>

                    <span class="post_title">
                      <%= truncate_wrap_link post.title, post, 60, 35 %>
                    </span>

                    <span class="post_content clearboth">
                      <%= truncate_wrap_text post.content, 140, 35 %>
                    </span>
              <br>

              <!-- Photo thumbs -->
              <% post.assets.each do |asset| %>

                  <div class="post_thumb">
                    <%= image_tag asset.image(:thumb) %>
                  </div>

              <% end %>

              <br class="clearboth">

              <div class="post_meta">
                <%= time_ago_in_words(post.created_at) %> ago
              </div>

              <div class="post_meta">
                <%= post.city %>
              </div>

            </div>
            <br />
            <br />
          </div>
      <% end %>

  <% end %>
</div>

<br/>
<%= link_to 'New Post', new_post_path %>

<%= will_paginate %>



