<p>
  <%= price @post.price.to_i %>
  <%= @post.title %>
</p>

<p class="post_content">
  <%= @post.content %>
</p>

<p >
  <%= @post.location %>
</p>
<br>

<% @post.assets.each do |asset| %>

    <div >
      <%= image_tag asset.image(:original), :class => "post_original" %>
    </div>

<% end %>

<br class="clear display_block">

<p>
  <br>
<%= link_to 'Edit', edit_post_path(@post), :class => "clear_both" %> |
<%= link_to 'Back', posts_path, :class => "clear_both" %>
</p>
