<%= link_to "iCare", root_path, :class => "brand" %>
<% form_tag search_path, :method => :get, :class => "pull-right" do %>
    <%= text_field_tag :search, params[:search], :placeholder => "Search", :class => "input-small" %>
    <%= submit_tag "Search", :name => nil, :class => "btn primary" %>
<% end %>
<nav>
  <ul class="nav">
    <% if user_signed_in? %>
        <li>
          <%= "#{current_user.email}" %>
        </li>
    <% end %>
    <li><%= link_to("Home", root_path) %></li>

    <% if user_signed_in? %>
        <li>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        </li>
    <% else %>
        <li>
          <%= link_to("Sign up", new_user_registration_path) %>
        </li>
        <li>
          <%= link_to("Sign in", new_user_session_path) %>
        </li>
    <% end %>

    <li><%= link_to("Help", "#") %></li>
  </ul>
</nav>