<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= yield :head %>
  <%= yield :scripts %>
  <%= render 'layouts/stylesheets' %>

</head>

<body class="canvas">
<div class="container">
  <!-- html5 -->
  <header>
    <%= render 'layouts/header' %>
  </header>

  <section>
    <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </section>

</div>



</body>
</html>
