<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= yield :head %>
  <%= render 'layouts/stylesheets' %>
</head>

<body class="canvas">
<div class="container">
  <!-- html5 -->
  <header>
    <%= render 'layouts/header' %>
  </header>

  <section>
    <%= yield %>
  </section>

</div>

<%= yield :scripts %>

</body>
</html>
